<div class="what-we-do container">
    <div class="row">
        <div class="service span3">
            <div class="icon-awesome">
                <i class="icon-eye-open"></i>
            </div>
            <h4>Beautiful Websites</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
            <a href="services.html">Read more</a>
        </div>
        <div class="service span3">
            <div class="icon-awesome">
                <i class="icon-table"></i>
            </div>
            <h4>Responsive Layout</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
            <a href="services.html">Read more</a>
        </div>
        <div class="service span3">
            <div class="icon-awesome">
                <i class="icon-magic"></i>
            </div>
            <h4>Awesome Logos</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
            <a href="services.html">Read more</a>
        </div>
        <div class="service span3">
            <div class="icon-awesome">
                <i class="icon-print"></i>
            </div>
            <h4>High Res Prints</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
            <a href="services.html">Read more</a>
        </div>
    </div>
</div>