<div class="what-we-do container">
    <div class="row">
        <div class=" col-md-3 service" >
            <div class="icon-awesome">
                <i class="glyphicon glyphicon-tint"></i>
            </div>
            <h4>Beautiful Websites</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
            <a href="services.htmlJJJJJJJJJJJJJJJJJJJJJJJJ">Read more</a>
        </div>
        <div class="col-md-3 service">
            <div class="icon-awesome">
                <i class="glyphicon glyphicon-thumbs-up"></i>
            </div>
            <h4>Quality Guaranteed</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
            <a href="services.htmlJJJJJJJJJJJJJJJJJJJJj">Read more</a>
        </div>
        <div class="col-md-3 service">
            <div class="icon-awesome">
                <i class="glyphicon glyphicon-usd"></i>
            </div>
            <h4>Precise</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
            <a href="services.htmlJJJJJJJJJJJJJJJJJJJJJJJJJJJ">Read more</a>
        </div>
        <div class="col-md-3 service ">
            <div class="icon-awesome">
                <i class="glyphicon glyphicon-globe"></i>
            </div>
            <h4>Global</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et...</p>
            <a href="services.htmJJJJJJJJJJJJJJJJJJJJJJJJJJl">Read more</a>
        </div>
    </div>
</div>