<div class="presentation container">
    <h2>We are <span class="violet">CoralTec</span>, a super cool design Company.</h2>
    <p>We design beautiful droplet somethiger. Your project is safe with us.</p>
</div>